In [ ]:
testcase = int(input())

result = []
for _ in range(testcase):
  n,m = list(map(int,input().split(' ')))
  im = list(map(int,input().split(' ')))
  

  result.append(im[m])
print('\n'.join(result))

1
1 0
5
5

TypeError: ignored

In [ ]:
### 음계

a = list(map(int,input().split(' ')))

asc = True
des = True
print(len(a))
for i in range(1,8):
  print(a[i])
  if a[i] > a[i-1]:
    des = False
  elif a[i] < a[i-1]:
    asc = False
 
if asc:
  print("ascending")
elif des:
  print("descending")
else:
  print("mixed")

1 2 3 4 5 6 7 8
8
2
3
4
5
6
7
8
ascending

In [ ]:
### 블랙잭

n ,m = list(map(int, input().split(' ')))
card = list(map(int, input().split(' ')))
sum = 0
result = 0
for i in range(n):
  for j in range(i+1,n):
    for k in range(j+1,n):
      sum = card[i] + card[j] + card[k]
      if m >= sum:
        if result < sum:
          result = sum

print(result)

10 500
93 181 245 214 315 36 185 138 216 295
497

In [ ]:
### 스택

n = int(input())
num = 1
stack = []
st = []
result = []
a = True
for _ in range(1,n+1):
  card = int(input())
  while num <= card:
    stack.append(num)
    num +=1
    st.append("+")
  if stack[-1] == card:
    result.append(stack.pop())
    st.append("-")
  else:
    a = False

if a:
  print("\n".join(st))
else:
  print("NO")

5
1
2
5
3
4
NO

In [ ]:
queue = list(map(int,input().split(' ')))
queue = [(i, idx) for idx, i in enumerate(queue)]
a = max(queue,key=lambda x: x[0])[0]
print(a)

1 2 3 4 5 6 9 8
9

In [ ]:
### 큐

testcase = int(input())

for _ in range(len(testcase)):
  n,m = list(map(int,input().split(' ')))
  data = list(map(int,input().split(' '))) #입력한 중요도
  data = [(idx,i)for (i,idx) in range(data)]
  count = 0
  while True:
    data[0][0] = max(data,lambda x:x[0])[0]

In [ ]:
### 키로거

testcase = int(input())


for _ in range(testcase):
  L = input()
  left = []
  right = []
  for i in L:
    if i == '-':
      if left:
        left.pop()
    elif i == '<':
      if left:
        right.append(left.pop())
    elif i == '>':
      if right:
        left.append(right.pop())
    else:
      left.append(i)

  left.extend(reversed(right))
  print(''.join(left))

2
<<BP<A>>Cd-
BAPC
ThIsIsS3Cr3t
ThIsIsS3Cr3t

In [ ]:
### SHA-256

import hashlib

S = input()

result = hashlib.sha256(S.encode())
print(result.hexdigest())

Baekjoon
9944e1862efbb2a4e2486392dc6701896416b251eccdecb8332deb7f4cf2a857

In [ ]:
#### 수찾기+


N = int(input())
array = set(map(int,input().split(" ")))
M = int(input())
an = list(map(int,input().split(' ')))

for i in an:
  if i in array:
    print("1")
  else:
    print("0")

5
4 1 5 2 3
5
1 3 7 9 5
1
1
0
0
1

In [ ]:
### 친구 네트워크
### 문제를 이해 못하겠음

testcase = int(input())
fre2 = []
for _ in testcase:
  F = int(input())
  for _ in F:
    fre = input()
    fre2.append(fre)

In [ ]:
### 수 정렬하기

n = int(input())

fre = []
for _ in range(n):
  fre.append(int(input()))
fre.sort()

for x in fre:
  print(x)

5
1
4
6
5
3
1
3
4
5
6

In [ ]:
### 소트 인사이드

a = list(map(int,input()))
fre=[]
for x in a:
  fre.append(x)
fre.sort(reverse=True)
for i in fre:
  print(i,end='')

2143
4321

In [ ]:
n,m = list(map(int,input().split(' ')))
  data = list(map(int,input().split(' '))) #입력한 중요도
  data = [(idx,i)for (i,idx) in range(data)]
  count = 0

In [ ]:
### 나이순 정렬

n = int(input())
array = []
for _ in range(n):
  data = input().split(' ')
  array.append([int(data[0]),data[1]])
array = sorted(array, key = lambda x: x[0])
for i in array:
  print(i[0],i[1])

3
21 abc
21 bcd
20 aaa
20 aaa
21 abc
21 bcd

In [ ]:
### 좌표 정렬하기

n = int(input())
array = []
for _ in range(n):
  data = input().split(' ')
  array.append([int(data[0]),int(data[1])])
array = sorted(array)
for i in array:
  print(i[0],i[1])

5
3 4
1 1
1 -1
2 2
3 3
1 -1
1 1
2 2
3 3
3 4

In [ ]:
### 수정렬하기3 (메모리 오류)

n = int(input())
array = []
for _ in range(n):
  a = int(input())
  array.append(a)
array = sorted(array)
print()
for i in array:
  print(i)

10
5
2
3
1
4
2
3
5
1
7

1
1
2
2
3
3
4
5
5
7

In [ ]:
#### 수 정렬하기 3
import sys

n = int(sys.stdin.readline())
array = [0] * 10001

for i in range(n):
    data = int(sys.stdin.readline())
    array[data] += 1

for i in range(10001):
    if array[i] != 0:
        for j in range(array[i]):
            print(i)

ValueError: ignored

In [ ]:
### 피보나치수열 (정답)

n = int(input())

array = []
array.append(0)
array.append(1)

sum = 0
for i in range(n+1):
  if i > 1:
    hap = array[i-2] + array[i-1]
    array.append(hap)

print(max(array))

10
55

In [ ]:
data = list(map(int,input().split(' ')))
a = data[0]
sum = 2**a
for i in data: 
  print(i)

2 3 1
2
3
1
4

In [ ]:
a,b,c = map(int,input().split(' '))

result = 0
count = 0
while a>=result:
  a = a + b
  result = result + c
  count = count + 1
print(count)

2000 50 200
14

In [ ]:
import math
a,b,c = list(map(int,input().split(' ')))

def l(a,b,c):
  if c>b:
    print(math.trunc(a/(c-b))+1)
#l = lambda a, b, c : print(math.trunc(a/(c-b))+1)
l(a,b,c)

2000 50 200
14

In [ ]:
## https://www.acmicpc.net/problem/1712 손익분기점

import math
a,b,c = list(map(int,input().split(' ')))

l = lambda a, b, c : print(math.trunc(a/(c-b))+1) if (c>b) else print(-1)
l(a,b,c)

1000 70 170
11

In [ ]:
### 손익분기점 2트하려다 현타가 와서 
### https://solved.ac/class 클래스 1부터 차근차근 해보기

In [ ]:
## https://www.acmicpc.net/step/8 2번문제부터 풀기

In [7]:
## 설탕배달 (틀림)

23
5